{% extends 'base.html' %}

{% block title %}Редагувати нотатку{% endblock %}

{% load notes_custom_filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/note_edit.css' %}">

{% block content %}
<div class="card contact-form-container mt-4 shadow">
    <div class="card-header" style="background-color: #155840; color: #E2B29B;">
        <h1 class="m-2">Редагувати нотатку</h1>
    </div>

    <div class="card-body">
        {% if not note %}
            <p class="text-center">Відсутні нотатки для редагування</p>
            <div class="text-center mt-3">
                <a href="{% url 'note_list' %}" class="btn btn-secondary" style="background-color: #E2B29B; color: white;">Назад до списку</a>
            </div>
        {% else %}
            <form method="POST" class="p-4 rounded">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="id_title">{{ form.title.label }}</label>
                    {{ form.title|add_class:"form-control" }}
                </div>
                
                <div class="form-group">
                    <label for="id_content">{{ form.content.label }}</label>
                    {{ form.content|add_attrs:"form-control,3" }}
                </div>
                
                <div class="form-group">
                    <label for="id_tags" class="d-flex align-items-center">
                        Теги:
                        <div id="selected-tags" class="d-flex flex-wrap ms-2"></div> 
                    </label>
                    <div class="d-flex flex-wrap mt-2" id="tag-container">
                        {% for tag in form.tags.field.queryset %}
                            <div class="me-2 mb-2">
                                <input type="checkbox" class="d-none" id="tag{{ tag.id }}" name="tags" value="{{ tag.id }}" onchange="updateTagStyle(this)" {% if tag in note.tags.all %}checked{% endif %}>
                                <label class="btn btn-outline-secondary tag-label" for="tag{{ tag.id }}" style="background-color: {% if tag in note.tags.all %} #6FBDA2 {% else %} #3D6657{% endif %}; color: {% if tag in note.tags.all %}#E2B29B{% else %}#3D6657{% endif %}; padding: 5px 10px; border-radius: 5px; transition: background-color 0.2s;">
                                    {{ tag.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="new_tag">Створити новий тег:</label>
                    <input type="text" id="new_tag" name="new_tag" class="form-control" placeholder="Введите название тега">
                </div>

                <button type="button" class="btn btn-primary mt-2" id="add_tag_button">Створити тег</button>
                <br>
                <button type="submit" class="btn btn-success mt-3">Зберегти зміни</button>
                <a href="{% url 'note_list' %}" class="btn btn-info mt-3">Назад до списку</a>
            </form>
        {% endif %}
    </div>
</div>

<script>
    function updateTagStyle(checkbox) {
        const label = document.querySelector(`label[for="${checkbox.id}"]`);
        const selectedTagsContainer = document.getElementById('selected-tags');

        if (checkbox.checked) {
            label.style.backgroundColor = '#3D6657';
            label.style.color = '#E2B29B';

            const badge = document.createElement('span');
            badge.className = 'badge me-2 ml-1'; 
            badge.textContent = label.textContent;
            badge.style.backgroundColor = '#3D6657';

            badge.onclick = function() {
                checkbox.checked = false;
                updateTagStyle(checkbox);
                badge.remove();
            };

            selectedTagsContainer.appendChild(badge);
        } else {
            label.style.backgroundColor = '#6FBDA2';
            label.style.color = '#3D6657';

            const badgeToRemove = Array.from(selectedTagsContainer.children).find(badge => badge.textContent === label.textContent);
            if (badgeToRemove) {
                badgeToRemove.remove();
            }
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        const checkboxes = document.querySelectorAll('input[name="tags"]');
        checkboxes.forEach(checkbox => {
            updateTagStyle(checkbox);
        });

        document.getElementById('add_tag_button').addEventListener('click', function() {
            const newTagInput = document.getElementById('new_tag');
            const newTagName = newTagInput.value.trim();
            if (newTagName) {
                const newTagId = Date.now();
                const tagContainer = document.getElementById('tag-container');
                
                const tagDiv = document.createElement('div');
                tagDiv.classList.add('me-2', 'mb-2');

                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.className = 'd-none';
                checkbox.id = `tag${newTagId}`;
                checkbox.name = 'tags';
                checkbox.value = newTagName;

                const label = document.createElement('label');
                label.className = 'btn btn-outline-secondary tag-label';
                label.htmlFor = `tag${newTagId}`;
                label.style.backgroundColor = '#6FBDA2';
                label.style.color = '#3D6657';
                label.style.padding = '5px 10px';
                label.style.borderRadius = '5px';
                label.style.transition = 'background-color 0.2s';
                label.innerText = newTagName;

                label.onclick = function() {
                    checkbox.checked = !checkbox.checked;
                    updateTagStyle(checkbox);
                };

                tagDiv.appendChild(checkbox);
                tagDiv.appendChild(label);
                tagContainer.appendChild(tagDiv);

                const badge = document.createElement('span');
                badge.className = 'badge me-2'; 
                badge.textContent = newTagName;

                badge.onclick = function() {
                    checkbox.checked = false;
                    updateTagStyle(checkbox);
                    badge.remove();
                };

                document.getElementById('selected-tags').appendChild(badge);

                newTagInput.value = '';
            }
        });
    });
</script>
{% endblock %}
