{% extends 'base.html' %}

{% block title %}Добавить заметку{% endblock %}

{% load notes_custom_filters %}
{% block content %}
<div class="card contact-form-container mt-4 shadow">
    <div class="card-header" style="background-color: #155840; color: #E2B29B;">
        <h1 class="m-2">Добавить заметку</h1>
    </div>

    <div class="card-body">
        {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div id="success-message" class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        
        <form method="POST" class="p-4 rounded" id="noteForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">{{ form.title.label }}</label>
                {{ form.title|add_class:"form-control" }}
            </div>
            
            <div class="form-group">
                <label for="id_content">{{ form.content.label }}</label>
                {{ form.content|add_attrs:"form-control,3" }}
            </div>
        
            <div class="form-group">
                <label for="id_tags">Теги:</label>
                <div class="d-flex flex-wrap mt-2" id="tag-container">
                    {% for tag in tags %}  <!-- Используем переданный список тегов -->
                        <div class="me-2 mb-2">
                            <input type="checkbox" class="d-none" id="tag{{ tag.id }}" name="tags" value="{{ tag.id }}" onchange="updateTagStyle(this)">
                            <label class="btn btn-outline-secondary tag-label" for="tag{{ tag.id }}" style="background-color: #6FBDA2; color: #3D6657; padding: 5px 15px; border-radius: 5px; transition: background-color 0.2s;">
                                {{ tag.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="newTagName">Новый тег:</label>
                    <input type="text" id="newTagName" class="form-control mt-2" placeholder="Введите имя нового тега">
                    <button type="button" class="btn btn-primary mt-2" id="createTagButton">Создать тег</button>
                </div>
            </div>
        
            <button type="submit" class="btn btn-success mt-3">Добавить заметку</button>
            <a href="{% url 'note_list' %}" class="btn btn-info mt-3">Назад к списку заметок</a>
        </form>

        <form method="POST" action="{% url 'add_tag' %}" id="addTagForm" style="display:none;">
            {% csrf_token %}
            <input type="hidden" name="name" id="hiddenTagName">
        </form>
    </div>
</div>

<script>
    function updateTagStyle(checkbox) {
        const label = document.querySelector(`label[for="${checkbox.id}"]`);
        if (checkbox.checked) {
            label.style.backgroundColor = '#3D6657'; // Цвет при выборе
            label.style.color = '#E2B29B'; // Цвет текста при выборе
        } else {
            label.style.backgroundColor = '#6FBDA2'; // Цвет по умолчанию
            label.style.color = '#3D6657'; // Цвет текста по умолчанию
        }
    }

    document.getElementById('createTagButton').addEventListener('click', function(event) {
        event.preventDefault(); // Предотвращаем отправку формы
        const newTagName = document.getElementById('newTagName').value.trim();
        if (newTagName) {
            const addTagForm = document.getElementById('addTagForm');
            if (addTagForm) { // Проверяем, существует ли форма
                document.getElementById('hiddenTagName').value = newTagName; // Установка значения в скрытое поле
                addTagForm.submit(); // Отправка скрытой формы
            } else {
                console.error('Форма addTagForm не найдена.');
            }
        }
    });

    document.addEventListener('DOMContentLoaded', function() {
        var successMessage = document.getElementById('success-message');
        if (successMessage) {
            setTimeout(function() {
                successMessage.style.display = 'none';
            }, 3000);
        }
    });
</script>

<style>
    /* Эффект при наведении на кнопку */
    .tag-label:hover {
        background-color: #40886E; /* Цвет при наведении */
        color: white; /* Цвет текста при наведении */
    }
</style>
{% endblock %}
