{% extends 'base.html' %}

{% block title %}Редагувати нотатку{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Редагувати нотатку</h1>

        {% if not note %}
            <p>Немає нотаток для редагування.</p>
            <a href="{% url 'note_list' %}" class="btn btn-secondary mt-3">Назад до списку нотаток</a>
        {% else %}
            <!-- Форма для редагування нотатки -->
            <form method="POST" class="form-group">
                {% csrf_token %}
                
                <!-- Відображення полів форми -->
                {{ form.as_p }}

                <!-- Кнопка збереження змін -->
                <button type="submit" class="btn btn-primary mt-3">Зберегти зміни</button>
            </form>

            <!-- Посилання для повернення до списку нотаток -->
            <a href="{% url 'note_list' %}" class="btn btn-secondary mt-3">Назад до списку нотаток</a>
        {% endif %}
    </div>
{% endblock %}
