<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Personal Assistant{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
    <header>
        <h1>Personal Assistant</h1>
        <nav>
            <ul>
                <li><a href="{% url 'contact_home' %}">Contacts</a></li><br>
                <li><a href="{% url 'note_home' %}">Notes</a></li><br>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Personal Assistant</p>
    </footer>
</body>
</html>
