{% extends 'base.html' %}

{% block title %}Пошук контактів{% endblock %}

{% block content %}
    <h1>Пошук контактів</h1>

    {% if query %}
        {% if contacts %}
            <ul>
                {% for contact in contacts %}
                    <li>
                        <a href="{% url 'contact_detail' contact.id %}">{{ contact.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Нічого не знайдено за запитом "{{ query }}".</p>
        {% endif %}
    {% endif %}

    <form method="GET" action="{% url 'contact_search' %}">
        <input type="text" name="query" placeholder="Пошук контактів..." value="{% if query %}{{ query }}{% endif %}">
        <button type="submit">Пошук</button><br>
    </form>
    <a href="{% url 'contact_list' %}">Повернутися на список контактів</a><br>
    <a href="{% url 'contact_home' %}">Повернутися на сторінку керування контактами</a>
    
{% endblock %}
