{% extends 'base.html' %}

{% block title %}Контакти з наближаючими днями народженнями{% endblock %}

{% block content %}
    <h1>Контакти з наближаючими днями народженнями</h1>

    <form method="GET">
        {{ form.period.label }} {{ form.period }}  <!-- Використовуємо форму -->
        <button type="submit">Показати</button>
    </form>

    <ul>
        {% if upcoming_birthdays %}
            {% for contact in upcoming_birthdays %}
                <li>
                    <a href="{% url 'contact_detail' contact.id %}">{{ contact.name }}</a> - День народження: {{ contact.birthday }}
                </li>
            {% endfor %}
        {% else %}
            <li>
                {% if request.GET.period %}
                    Немає контактів з наближаючими днями народження на період {{ request.GET.period }} місяців.
                {% else %}
                    Немає контактів з наближаючими днями народження.
                {% endif %}
            </li>
        {% endif %}
    </ul>

    <a href="{% url 'contact_home' %}">Повернутися на сторінку керування контактами</a>
{% endblock %}
